html, body, main {
  width: auto;
}
header, footer {
  border-bottom: solid 1px;
}
nav, aside, article {
  border: solid 1px;
}
img {
  width: 300px;
}
main {
  display: flex;
  justify-content: center; 
}
.hdht {
  margin-left: 240px;
}
.con {
  display: flex;
  width: 960px;
  justify-content: center;
}
nav {
  flex: auto;
}
article {
   flex: auto;
}
aside {
  flex: initial;
}
